
body{
    background-color: #159A9C;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Changed to fixed px value */
    display: none;
    font-size: 1.5rem;
    color: #FFC636;
    z-index: 1000;
  }

p, a, .card, ul label, input, .btn, button{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: medium;
    text-decoration: none; 
}

h1, h2 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 400;
}

#navigation {
    background-color: #002333;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.nav a {
    color: #fff;
}

.nav a:hover{
    color: #B4BEC9;
}

/******* home section ******/

#home  {
    background-color: #B4BEC9;
    background: url(/images/cyborg.png) no-repeat center center fixed; 
    background-size: cover;
    overflow: hidden;
    padding-top: 10em;
    width: 100%;
    height: 100vh;
    color: #fff;   
}

#home h1 {
    color: #fff;
    font-family: Matemasie;
    }

#home p {
    margin-left: 0;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 400;
    font-size: larger;
}

#home .row {
    align-items: center;
}

.home-btn {
    --bs-btn-padding-y: 1em;
    --bs-btn-padding-x: 8rem;
    background-color: #159A9C;
    border-color: #159A9C;
    margin-left: 0; 
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.home-btn:hover {
    background-color: #0d797a; /* darker shade */
    border-color: #159A9C;
    opacity: 0.9;
    color: #fff;
}

.home-btn:active:focus {
    background-color: #0d797a;
    border-color: #159A9C;
    opacity: 0.9;
}

#home p::selection,
#home p strong::selection,
#home h1::selection {
    color:#fff;
    background-color: #002333;
}

   /****** interests ******/

#interests {
    background-color: #159A9C;
} 

#interests p::selection {
    color:#fff;
    background-color: #002333;
}

#interests .card {
    background-color: #B4BEC9;
    opacity: 0.8;
    color: #002333;
    height: 20rem;  
}

#interests .card .fa-solid {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color: #002333;
}

#interests .card h2,
#interests .card ul {
    color: #002333;
}

.interests-btn {
    --bs-btn-padding-y: 1em;
    --bs-btn-padding-x: 9rem;
    background-color: #002333;
    border-color: #002333;
    margin-top: 3rem; 
    margin-bottom: 3rem;
}

.interests-btn{
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.interests-btn:hover,
.interests-btn:active:focus {
    background-color: #02161f; /* darker shade of navy */
    border-color: #002333;
    color: #fff;
}

.interests-btn:hover {
    color: #B4BEC9;
}

/****** portfolio ******/

#portfolio {
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
    height: fit-content;
    z-index: 100;
}

#portfolio .card {
    height: 25em;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    background-color: #002333;
  }

  #portfolio p::selection, h2::selection {
    background-color: #159A9C;
    opacity: 0.5;
}

#portfolio h2,
#portfolio p {
    color: #002333;
}



#portfolio .card h3 a {
    color: #FFC636;
  }

/****** contact ******/

#contact {
    flex: 1;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #002333;
    color: #fff;
    z-index: 100;
    justify-content: center;
    text-shadow: -1px -1px 0px #181818;
    overflow: hidden;
    min-height: fit-content; /* Ensure it covers at least the full viewport height */
    padding: 2rem; /* Adjust padding if necessary */
}

#contact .container {
    height: auto; /* Ensure it grows with the content */
    min-height: 100%; /* Ensure it stretches to the height of the parent */
}

#contact .container .row {
    align-items: center;
}

#contact form textarea {
    height: 15em;
    background-color: #002333;
    line-height: 1.85em;
	color: #B4BEC9;
	font-weight: 300;
	font-size: 13pt;
    border: solid 1px #159A9C;
}

#contact form input {
    color: #B4BEC9;
	font-weight: 300;
	font-size: 13pt;
}

form label {
    color: #B4BEC9;
    font-weight: 700;
    display: block;
    margin: 0 0 0.5em 0;
}

form input[type=text],
form input[type=email],
form select,
form textarea {
    -moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    -webkit-appearance: none;
    display: block;
    border: 0;
    padding: 0.75em;
    font-size: 1em;
    border-radius: 8px;
    border: solid 1px #159A9C;
    background: #002333;
    color: #B4BEC9;
    box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025);
    width: 100%;
}

form input[type=text]:focus,
form input[type=email]:focus,
form select:focus,
form textarea:focus {
    background: #002333;
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025), inset 0px 0px 2px 1px #159A9C
    }

form textarea {
    height: 15em;
    font-family: "Inter", sans-serif;
}

#contact .msg-btn {
    --bs-btn-padding-y: 1em;
    --bs-btn-padding-x: 5rem; 
    background-color: #159A9C;
    border-color: #159A9C;
    margin-left: 0; 
    text-align: center;
}

#contact .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Primary Button Styling */
#contact .btn-primary {
    background-color: #159A9C; /* Primary color (e.g., blue) */
    color: #fff;
    font-weight: bold;
}

#contact .btn-primary:hover {
    background-color: #098486; /* Darker shade for hover effect */
    font-weight: bold;
}

/* Secondary Button Styling */
#contact .btn-secondary {
    background-color: #6c757d; /* Secondary color (e.g., gray) */
    color: #fff;
    font-weight: bold;
}

#contact .btn-secondary:hover {
    background-color: #5a6268; /* Darker shade for hover effect */
    font-size: 1rem;
    font-weight: bold;
}
/* .msg-btn {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.msg-btn:hover {
    background-color: #159A9C;
    border-color: #159A9C;
    opacity: 0.9;
    color: #fff;
}

.msg-btn:active:focus {
    background-color: #159A9C;
    border-color: #159A9C;
    opacity: 0.9;
} */


#contact > .find-me {
    font-weight: 600;
    font-size: large;
}

#contact ul i{
    font-size: 2.5em;
    padding: 0 .3em;  
}



#contact .border-top {
    border-color: #159A9C;
}

#contact p::selection, h2::selection,
#contact footer span::selection {
    background-color: #159A9C;
}

form ::-webkit-input-placeholder {
    color: #B4BEC9 !important;
}

form :-moz-placeholder {
    color: #B4BEC9 !important;
}

form ::-moz-placeholder {
    color: #B4BEC9 !important;
}

form :-ms-input-placeholder {
    color: #B4BEC9 !important;
}

form ::-moz-focus-inner {
    border: 0;
}

footer {
    margin: 0;
    padding: 0;
}

@media (max-width: 700px){
  
    .home-btn {
        --bs-btn-padding-y: 1em;
        --bs-btn-padding-x: 2rem;
    }

    .home .col-lg-6 {
        align-items: center;
    }

    .interests-btn  {
        
            --bs-btn-padding-y: 1em;
            --bs-btn-padding-x: 1em;      
    }
}

@media (min-width: 180px) and (max-width: 402px){
    .nav a {
        font-size: small;
    }

    #home p {
        font-size: medium;
        text-decoration: none;
        color: #fff;  
    }

    #home h1 {
        color: #fff;
        font-family: Matemasie;
        margin-left: 0;
        }
    
    #home p {
        margin-left: 0;
        text-align: center;
    }
    
    #home .row {
        align-items: center;
    }

    #portfolio .card {
        height: 15em;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    #interests .card {
        height: fit-content;
    }

    #contact footer span {
       text-align: center;
    }
}




