body {
  background-color: #fff;
  
}

h1 {
    font-family: "Bricolage Grotesque", sans-serif;
}

p, a, .card, ul {
    font-family: "Inter", sans-serif;
    font-weight:300;
    font-size: medium;
    text-decoration: none;
}

.navbar .container{
    display: flex;
    justify-content: space-evenly;
}


#home p strong{
    font-weight: 500;
}

.navbar {
background-color: #002333;
height: 3rem;
align-items: center;
}

.navbar a {
    color: #B4BEC9;
    
}

.navbar a:hover{
    color: #fff;
}



/* home section */
#home {
    background-color: #B4BEC9;
    background-image: url(/images/texture-1898539_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* position:relative;

        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
           -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
                box-shadow:0 1px 4px rgba(0, 0, 0, 0.3); */
    }

    /* #home:before, #home:after
    {
      content:"";
        position:absolute;
        z-index:-1;
        -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
        box-shadow:0 0 5px rgba(0,0,0,0.8);
        top:0;
        bottom:0;
        /* left:10px; */
        /* right:10px; */
        /* -moz-border-radius:100px / 10px;
        border-radius:100px / 10px; */
    } */

    /* #home:after
    {
      /* right:10px; */
        /* left:auto; */
        /* -webkit-transform:skew(6deg) rotate(2deg);
           -moz-transform:skew(6deg) rotate(2deg);
            -ms-transform:skew(6deg) rotate(2deg);
             -o-transform:skew(6deg) rotate(2deg);
                transform:skew(6deg) rotate(2deg); */
    } */

#home > .container  {
    display: flex;
    height: 100vh;
    /* justify-content: center;
    flex-direction: row; */
   
}


/* #home .row {

    align-items: center;
    justify-content: space-around;
} */

#home h1 {
padding-left: 8%;
/* float: right; */
display: block;
font-family: Matemasie;
font-size: 5rem;
margin-bottom: 2rem;
}

#home p{
    padding-left: 10%;
    /* float: right; */
    position: relative;
    font-size: 1.5rem;
}



/* #home .btn {
    background-color: #159A9C;
    border-color: #159A9C;
    margin-top: 2em;
    margin-right: 12rem;
    width: 25rem;
    
    
} */

#home a {
    font-size: large;
    font-weight: 500;
    color: #B4BEC9;
}

#home a:hover {
    color: #fff;
}




/* work section */

#work {
    background-color: #159A9C;
    background-image: url(/images/bg.png);
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }


 #work > .container  {
        display: flex;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
       
    }

#work header{
    /* margin-top: 3em; */
    margin-bottom: auto;
    text-align: center;
   
}

#work h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color:#B4BEC9;
    
}

#work p {
    color:#B4BEC9;
    justify-content: center;
}

#work .container .row { 
    margin-left: auto;
    margin-right: auto;
}

#work .card {
    background-color: #B4BEC9;
    color: #002333;
    
}

#work .card p {
    color: #002333;
}

 #work footer  {
    margin-bottom: 3rem;
    text-align: center;
} 

#work footer p {
    margin-top: 5rem;
}

#work .btn {
    background-color: #002333;
    border-color: #002333;
    margin-top: 10rem;
}

#work a {
    font-size: large;
    color: #B4BEC9;
    font-weight: 500;
}

#work a:hover{
    color: #fff;
}

/* portfolio */


#portfolio {
    background-color: #B4BEC9;
    /* background-image: url(/images/bg.png); */
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }

#portfolio > .container  {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
   
}

#portfolio header  {
    margin-top: 10em;
    margin-bottom: 5em;
    text-align: center;
}

#portfolio .container .row { 

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    
}


#portfolio footer  {
    margin-bottom: 7em;
    text-align: center;
   
}  

#portfolio .btn {
    background-color: #159A9C;
    border-color: #159A9C;
    margin-left: 2.5rem;
}

#portfolio a {
    font-size: large;
    font-weight: 500;
    color: #B4BEC9;
}

#portfolio a:hover {
    color: #fff;
}

/* contact */

#contact > .container  {
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    color: #B4BEC9; 
   
}
#contact {
    background-color: #002333;
    background-image: url(/images/bg.png);
    position:relative;
    }





