body {
   background-image: url("../assets/dark-purple-black-gradient.svg") ;
   background-size:100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size:cover;
   /* background-color: #FF6444; */
}


.flex-container{
   display: flex;
   justify-content: center;
   height: 95vh;
   left: 15%;
   right: 15%;
   position: absolute;
   /* background-color: #fff; */
   flex-direction: column;
   gap: 5%;
   
}




/* navigation */
.navigation {
   flex-basis: auto; 
   align-self: center; 
  

}

 .btn {
   color: #fff;
   font-size: 3rem;
   padding-bottom: 0px;
   bottom: 0px;
  
}



/* content */

.content{
   background-color: #fff;
   flex-basis: auto;
}



/* small screens */
@media (max-width: 1250px) {
   .flex-container {
     display: flex;
     height: 100vh;
     left: 10%;
     right: 10%;
   }
}